<header class="header">
  <div class="header_inner">

    <div class="logo_block">
      {{- partial "logo.html" . }}

      <div class="about_link">
        {{ range .Site.Menus.main }}
          {{ if eq .Name "About Me" }}
            <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="seller_link">
      {{ range .Site.Menus.main }}
        {{ if eq .Name "Seller Guide" }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </div>

  </div>
</header>
